/*header component*/
html, body{
	width: 100%;
	height: 100%;

}

.navbar{
	background-color: rgba(82, 64, 120,0.9) !important;
}

.navbar li a{
	color:white !important;
}

.navbar li a:hover{
	color: black !important;
}

/*end header component*/


/**/

.carousel-inner img{
	width: 100%;
}

.carousel-caption{
	position: absolute;
	top:50%;
}

.carousel-caption h1{
	font-size: 400%;
	text-transform: uppercase;
	text-shadow: 5px 5px 15px #000;
}
.carousel-caption h3{
	text-shadow: 5px 5px 15px #000;
}

.btn-primary{
	background-color: rgb(82, 64, 120);
	border:1px solid white;
}

.btn-primary:hover{
	background-color: rgb(62, 44, 120);
	border:1px solid white;
}

.welcome hr{
	border-top:2px solid rgba(82, 64, 120, 0.6);
	width: 95%;
}
/*Media Query*/

@media (max-width: 992px) {
	.carousel-caption{
	
		top:20%;
	}
	.carousel-caption h1{
		font-size: 250%;
		
	}
	.carousel-caption h3{
		font-size: 160%;
	}
	.carousel-caption .btn{
		font-size: 120%;
	}
		
}

@media (max-width: 768px) {
	.carousel-caption{
	
		top:20%;
	}
	.carousel-caption h1{
		font-size: 220%;
		
	}
	.carousel-caption h3{
		font-size: 140%;
	}
	.carousel-caption .btn{
		font-size: 100%;
	}	
}

@media (max-width: 576px) {
	.carousel-caption{
	
		top:20%;
	}
	.carousel-caption h1{
		font-size: 180%;
		
	}
	.carousel-caption h3{
		font-size: 100%;
	}
	.carousel-caption .btn{
		font-size: 70%;
	}	
}
/*end slide*/

/* jumbotron*/
.jumbotron{
	font-size: 1em;
}
/* end jumbotron*/


/**/
.fa-react{
	color: #81D8F7;
}

.fa-angular{
	color:rgb(177, 43, 55);
}

.fa-css3{
	color: #D76537;
}

.fa-react, .fa-angular, .fa-css3{
	font-size: 4em;
	margin:1rem;
}
/**/